img {
     max-height: 400px;
     width: 100%;
     border-radius: 5px !important;
     object-fit: scale-down;
}
.mobile-nav {
     display: none !important;
}

@media screen and (max-width: 600px) {
     .modalStyle {
          width: 80%;
     }
     .navbar {
          position: absolute;
          top: -100%;
          transition: .4s;
          display: flex;
          justify-content: flex-end;
     }
     .mobile-nav {
          display: block !important;
     }
     .mobile-nav div{
          margin: 5px;
          width: 90%;
          padding: 2px;
          background: black;   
          border-radius: 5px;
     }
     .active{ 
          top:0;
     }
     .Form {
          width: 90%;
          margin: 12px !important;
          padding: 0;
          position: relative;
          left: 0;

     }
     .postForm {
          width:100%;
          position: absolute;
          top: 0;
          text-align: center;
     }
     .postForm span{ 
          font-weight: bold;
      }
     .activenav {
          width: 100%;
          transition: .3s;
          top: 0%;
          background: #1F2544;
          z-index: 1;
          height: 20vh;  
          color: white;
     }
     .activebtn {
          display:block !important;
          position: absolute;
          top: 0;
          left: 2%;
     }
}